body {
    background-color: white'
    margin: 0px;
}

.container-header {
    width: 80%;
    margin: 0 auto;
    background-color: black
}

header {
    background: black;
    display: flex;
    justify-content: flex-start;
    font: 1000;
}


nav {
    float: left;
    display: flex;
    justify-content: flex-start;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 10px;
    padding-top: 30px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul input {
    display: flex;
    justify-content: flex-start;
}

.login {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
}

.card { 
    width: auto;
}
.results {
    display: flex;
    align-items: baseline;
}

h3 {
    background: gray;
    color: yellow;
}


.wrapper-movies1 {
    display: flex;
    justify-content: center;
}

.wrapper-movies2 {
    display: flex;
    justify-content: center;
}